---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@/components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@/components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@/components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@/components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@/components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@/components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@/components/sections/pricing/PricingSection.astro";
import FAQ from "@/components/sections/FAQ.astro";
import AnnouncementBanner from "@/components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@/images/hero-image.png";
import faqs from "@/data_files/faqs.json";
import features from "@/data_files/features.json";
import pricing from "@/data_files/pricing.json";
import featureImage from "@/images/feature-images.png";
import construction from "@/images/construction-image.avif";
import tools from "@/images/automated-tools.avif";
import dashboard from "@/images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  />

  <HeroSection
    title=`
    Con GOGO, !Darle Vida A Tu Vehículo  <span
        class="text-yellow-500 dark:text-yellow-400">Nunca Habia Sido Tan Facil!</span>`
    subTitle="Experimenta el poder total sobre tu vehículo con nuestra aplicación innovadora: monitorea, gestiona y optimiza cada aspecto de tu auto con facilidad y eficiencia, todo desde la palma de tu mano"
    primaryBtn="Descargar"
    primaryBtnURL="https://play.google.com/store/apps/details?id=com.gogo.beatlab"
    secondaryBtn="Contactanos"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">5</span> / 5`
    starCount={5}
    reviews=`Más de <span class="font-bold">1k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Somos lideres en la industria"
    subTitle="Las empresas confían en nosotros"
  />

  <FeaturesGeneral
    id="products"
    title="Somos lo que tu vehículo necesita"
    subTitle="Con GOGO, tu vehículo está en buenas manos. Descubre nuestras características y servicios de vanguardia que te ayudarán a mantener tu vehículo en óptimas condiciones."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    id="¨services"
    title=`Así <span class="text-yellow-500 dark:text-yellow-400">Funciona</span> nuestra app.`
    tabs={[
      {
        heading: "Registrar tu vehículo",
        content:
          "Registra tu vehículo en la aplicación GOGO y accede a un panel de control personalizado para tu vehículo.",
        svg: "tools",
        src: construction,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Registras el kilometraje",
        content:
          "Registra el kilometraje de tu vehículo y recibe notificaciones en tiempo real sobre el mantenimiento y las reparaciones necesarias.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Personaliza la frecuencia de mantenimiento",
        content:
          "Personaliza la frecuencia de mantenimiento de tu vehículo y recibe recordatorios automáticos para mantener tu vehículo en óptimas condiciones.",
        svg: "house",
        src: tools,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Lo que dicen de nosotros"
    subTitle="Nuestros clientes satisfechos hablan por sí mismos"
    ;
    testimonials={[
      {
        content:
          "GoGo me ha ayudado a mantener mi vehículo en óptimas condiciones. La aplicación es fácil de usar y me ha ahorrado mucho tiempo y dinero.",
        author: "Laura Diaz",
        role: "Cliente",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "600k+",
        description:
          "Vehículos publicos registrados en la aplicación GOGO",
      },
      {
        count: "70%",
        description:
          "de los usuarios reportan una mejora en la eficiencia de su vehículo",
      },
      {
        count: "80%",
        description:
          "de los usuarios reportan una disminución en los costos de mantenimiento",
      },
      {
        count: "2x",
        description: "Aumento en la vida útil del vehículo",
      },
    ]}
  />

  <!-- <PricingSection pricing={pricing} /> -->

  <FAQ title="Preguntas <br />Frecuentes" faqs={faqs} />

  <HeroSectionAlt
    title="Descarganos Gratis"
    subTitle="Descarga la aplicación GOGO y comienza a disfrutar de todas las funciones y servicios que ofrecemos."
    url="https://play.google.com/store/apps/details?id=com.gogo.beatlab"
  />
</MainLayout>
