---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@/components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@/components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@/components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@/components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@/components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@/components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@/components/sections/pricing/PricingSection.astro";
import FinanceSection from "@/components/sections/finance/FinanceSection.astro";
import FAQ from "@/components/sections/FAQ.astro";
import AnnouncementBanner from "@/components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@/images/feature-images.png";
import faqs from "@/data_files/faqs.json";
import features from "@/data_files/features.json";
import pricing from "@/data_files/pricing.json";
import featureImage from "@/images/feature-images.png";
import construction from "@/images/black-car.avif";
import tools from "@/images/maintenance.jpg";
import dashboard from "@/images/kilometer.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout title="GoGo">

  <HeroSection
    title=`
    Con GOGO, !Darle Vida A Tu Vehículo  <span
     class="text-purple-500 dark:bg-transparent leading-[1.5] dark:text-purple-500">Nunca Habia Sido Tan Facil!</span>`
    subTitle="Experimenta el poder total sobre tu vehículo con nuestra aplicación innovadora: monitorea, gestiona y optimiza cada aspecto de tu auto con facilidad y eficiencia, todo desde la palma de tu mano"
    primaryBtn="Descargar"
    primaryBtnURL="https://play.google.com/store/apps/details?id=com.gogo.beatlab"
    secondaryBtn="Contactanos"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">5</span> / 5`
    starCount={5}
    reviews=`Más de <span class="font-bold">1k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <FeaturesGeneral
    id="products"
    title="Somos lo que tu vehículo necesita"
    subTitle="Con GOGO, tu vehículo está en buenas manos. Descubre nuestras características y servicios de vanguardia que te ayudarán a mantener tu vehículo en óptimas condiciones."
    alt="ScrewFast products in floating boxes"
    features={features}
  />

<FinanceSection />
  <FeaturesNavs
    id="¨services"
    title=`Así <span class="text-purple-300 dark:text-purple-600">Funciona</span> nuestra app.`
    tabs={[
      {
        heading: "Registrar tu vehículo",
        content:
          "Registra tu vehículo en la aplicación GOGO y accede a un panel de control personalizado para tu vehículo.",
        svg: "tools",
        src: construction,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Registras el kilometraje",
        content:
          "Registra el kilometraje de tu vehículo y recibe notificaciones en tiempo real sobre el mantenimiento y las reparaciones necesarias.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Personaliza la frecuencia de mantenimiento",
        content:
          "Personaliza la frecuencia de mantenimiento de tu vehículo y recibe recordatorios automáticos para mantener tu vehículo en óptimas condiciones.",
        svg: "house",
        src: tools,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Lo que dicen de nosotros"
    subTitle="Nuestros clientes satisfechos hablan por sí mismos"
    ;
    testimonials={[
      {
        content:
          "Desde que uso GoGo, puedo realizar un seguimiento preciso de los mantenimientos de mi coche y evitar sorpresas. ¡Realmente me ha facilitado la vida!",
        author: "Carlos Ramírez",
        role: "Conductor",
        avatarSrc:
          "https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg",
      },
      {
        content:
          "GoGo me permite llevar el control de todo lo relacionado con el mantenimiento de mi auto. ¡Es la herramienta perfecta para cualquier conductor!",
        author: "Sofía González",
        role: "Profesional de la salud",
        avatarSrc:
          "https://miro.medium.com/v2/resize:fit:525/1*lyyXmbeoK5JiIBNCnzzjjg.png",
      },
      {
        content:
          "Siempre he sido escéptico con las apps para autos, pero GoGo realmente superó mis expectativas. La interfaz es simple y se ha convertido en mi asistente personal para el mantenimiento.",
        author: "José Martínez",
        role: "Ingeniero",
        avatarSrc:
          "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXRqw1LBo0VNFI20L91Nczv2G9pmv97NXDtg&s",
      },
      {
        content:
          "Gracias a GoGo, ahora tengo todo organizado: mantenimientos, recordatorios y más. ¡Ya no tengo que preocuparme por el estado de mi vehículo!",
        author: "María López",
        role: "Empresaria",
        avatarSrc:
          "https://startupsuccessstories.in/wp-content/uploads/2019/07/HireXP-launches-Amara-an-embodied-conversational-Chatbot-in-India.png",
      },
    ]}
    statistics={[
      {
        count: "600k+",
        description: "Vehículos registrados en la aplicación GOGO",
      },
      {
        count: "70%",
        description:
          "de los usuarios reportan una mejora en la eficiencia de su vehículo",
      },
      {
        count: "80%",
        description:
          "de los usuarios reportan una disminución en los costos de mantenimiento",
      },
      {
        count: "2x",
        description: "Aumento en la vida útil del vehículo",
      },
    ]}
  />

  <!-- <PricingSection pricing={pricing} /> -->

  <FAQ title="Preguntas <br />Frecuentes" faqs={faqs} />

  <HeroSectionAlt
    title="Descarganos Gratis"
    subTitle="Descarga la aplicación GOGO y comienza a disfrutar de todas las funciones y servicios que ofrecemos."
    url="https://play.google.com/store/apps/details?id=com.gogo.beatlab"
  />
</MainLayout>
