---
import Icon from "@/components/ui/icons/Icon.astro";
import MainLayout from "@/layouts/MainLayout.astro";

const sections = [
  {
    title: "I. Objetivo",
    content: `Establecer el contenido de todas las reglas aplicables al tratamiento de datos de carácter personal que son la naturaleza del desarrollo en el objeto social de la empresa LOBI CAR S.A.S . identificada con N.I.T. 901039691-7, domiciliada en la ciudad de Bogotá D.C, correo info@gogoapp.co y teléfono 3213710614,  en progreso de sus actividades comerciales, atendiendo la normatividad vigente frente a la protección de los datos personales. LOBI CAR S.A.S . actúa como RESPONSABLE del tratamiento de la información de acuerdo a las finalidades descritas en esta Política de Tratamiento de Datos. 
GoGo es una Plataforma de Software en la Nube que presta servicios a través de dispositivos electrónicos. Los datos personales captados dentro de la Plataforma se utilizarán con fines de ubicación e identificación de los usuarios  de acuerdo a las finalidades que se describen en esta política. GoGo es un desarrollo de Software cuyos derechos patrimoniales se encuentran en cabeza de LOBI CAR S.A.S, quien se reserva todos los derechos sobre el mismo. 
`,
  },
  {
    title: "II. Definición de Términos",
    content: `
      a) Autorización: Consentimiento previo, expreso e informado del Titular para el Tratamiento de datos personales.
      b) Base de Datos: Conjunto organizado de datos personales objeto de Tratamiento.
      c) Dato personal: Información vinculada o que pueda asociarse a una persona natural.
      d) Encargado del Tratamiento: Persona que realiza el Tratamiento de datos personales por cuenta del Responsable.
      e) Responsable del Tratamiento: Persona que decide sobre la base de datos y su Tratamiento.
      f) Titular: Persona cuyos datos personales son objeto de Tratamiento.
      g) Tratamiento: Operaciones sobre datos personales como recolección, almacenamiento, uso o supresión.
      h) Usuario: Persona que utiliza la Plataforma GoGo ingresando datos personales.
    `,
  },
  {
    title: "III. Alcance",
    content: `La  Política de Tratamiento de la Información, contenida en este documento, regula a todos los procesos organizacionales que LOBI CAR S.A.S. tenga en el desarrollo de su objeto social, y que involucre el tratamiento de datos de carácter personal de sus clientes, o cualquier persona que autorice el manejo y custodia de sus datos.

Esta política es de carácter obligatorio para todos los niveles operativos de LOBI CAR S.A.S, sus trabajadores y cualquier persona que tenga acceso a los datos personales sobre los que LOBI CAR S.A.S, tenga alguna responsabilidad legal.

Las políticas contenidas  en estas disposiciones fueron elaboradas bajo el tenor de los artículos 15 y 20 de la Constitución Política, la Ley 1581 de 2012 “Por la cual se dictan disposiciones generales para la protección de datos personales” y el Decreto único Reglamentario 1074 de 2015.
`,
  },
  {
    title: "IV. Tratamiento de los datos",
    content: `
     LOBI CAR S.A.S hará recolección, verificación, almacenamiento, utilización, circulación o supresión los datos que sean entregados para su tratamiento mediante autorización del titular de la información, de acuerdo a los fines contenidos en esta política, el tratamiento se hará en la siguiente forma: 

●	RECOLECCIÓN: mediante formatos escritos o digitales donde conste la autorización del titular para el tratamiento de sus datos. Igualmente, el uso de la plataforma mediante sistemas de identificación y validación de datos con correos electrónicos personales o números de celular, entendida esta como una actitud inequívoca que permite inferir razonablemente la aceptación de esta Política de Tratamiento de datos.
●	VERIFICACIÓN: algunos datos que puedan ser confrontados mediante bases públicas de libre acceso o centrales de riesgo previa autorización del titular, igualmente mediante el envío de validaciones a datos de ubicación como correos electrónicos o mensajes de texto a números personales de los Usuarios. .
●	ALMACENAMIENTO: en bases físicas ubicadas en archivadores a cargo del DEPARTAMENTO DE PROTECCIÓN DE DATOS, cuyo procedimiento estará encargada a un grupo de personas con quienes se han establecido procedimientos (protocolos de archivo, solicitud y entrega de información) y obligaciones legales para la protección de los datos (acuerdos de confidencialidad). igualmente, en bases digitales en Servidores Virtuales protegidos por Firewall, controlados por acceso mediante credenciales a funcionarios autorizados, y Logs  que permite identificar las operaciones  hechas dentro del servidor virtual, el funcionario, la hora,  el tiempo y lugar. 

    `,
  },
  {
    title: "V. Finalidades de la recolección de datos",
    content: `
     LOBI CAR S.A.S utiliza  los datos personales que captura en ejecución de su objeto social para las siguientes finalidades:

1.	Identificación de los usuarios de la Plataforma, especialmente respecto de los vehículos de su propiedad y el manejo de mantenimiento, prevención y asistencia que le aplica al vehículo.
2.	Ubicación mediante sistemas de geolocalización y posicionamiento global de los vehículos de propiedad del Usuario.
3.	Envío de Publicidad, promociones (principalmente para planes de fidelidad y relacionales), ejecución de ventas o estudios de mercado enfocados a su actividad, mediante el envío de correspondencia, correos electrónicos o contacto telefónico sobre los datos autorizados por los titulares.
4.	Estudios comerciales relacionados con la ejecución de las actividades comprendidas dentro de su objeto social siempre que medie autorización del titular para compartirlos o enviarlos a terceros con quienes realice alianzas o contratos.
5.	Envío de Alertas e información sobre los vehículos de propiedad del Usuario. 
6.	Consulta en bases de datos públicas sobre los datos públicos referentes a los vehículos de su propiedad. 
7.	Creación y Envío del Historial de los vehículos que sean de propiedad de los Usuarios. 
8.	Gestión estadística interna con fines comerciales, publicitarios y de mercado.
9.	Atención al cliente mediante sistema de PQR con fines administrativos internos de la compañía.
10.	Gestión administrativa, contable (facturación) y fiscal de la compañía.
11.	Prospección para  predicción, clasificación y segmentación de clientes, mediante el uso de los datos en softwares destinados para tal fin.
En el caso de los empleados de LOBI CAR S.A.S , sus datos serán recolectados para los siguientes fines:
1.	Selección  del personal.
2.	Administración de contrataciones
3.	Manejo de relaciones laborales y cumplimiento de las obligaciones derivadas de la misma, 
4.	Otorgamiento de beneficios a sus empleados por sí mismo o a través de terceros, 
5.	Con fines de seguridad en el  acceso de los empleados a los recursos informáticos de la empresa. 
6.	Control de horario
7.	Formación de personal
8.	Gestión y pago de la nómina.

Con la autorización del titular, se autoriza a LOBI CAR S.A.S  a recolectar, recaudar, almacenar, usar, circular, suprimir, procesar, compilar, intercambiar, tratar, actualizar y disponer de sus datos personales, los cuales podrán ser incorporados las bases  de datos o en repositorios electrónicos de todo tipo. 

Si bien LOBI CAR S.A.S cuenta con Plataformas tecnológicas (Incluidos Aplicativos Móviles) que permiten realizar pagos en línea, NUNCA almacena información relativa a números de Tarjetas de Crédito y/o Débito, fechas de vencimiento, códigos de verificación y/o claves. La sociedad autorizada para ser el canal de pago por las Plataformas tecnológicas será el responsable de dicho tratamiento, por su lado LOBI CAR S.A.S será encargado en el tratamiento de la información. 

    `,
  },
  {
    title: "VI. Derechos de los titulares de datos",
    content: `
      Los titulares de los datos personales contenidos en los archivos que reposen en los sistemas de información tanto virtuales como físicos de LOBI CAR S.A.S , tienen los siguientes derechos respecto del manejo de su información:

1.	Recibir solicitud de autorización para el tratamiento de sus datos.
2.	Presentar consultas relacionadas con el tratamiento y contenido de sus datos ante LOBI CAR S.A.S 
3.	Conocer, actualizar y rectificar sus datos personales.
4.	Solicitar prueba de la autorización otorgada a LOBI CAR S.A.S , para el tratamiento de sus datos.
5.	Obtener de LOBI CAR S.A.S , la información relacionada con el manejo de sus datos personales, por cualquier medio, incluido el electrónico, de tal forma que ésta sea de fácil lectura y sin barreras técnicas que impidan su acceso. Para estos efectos el titular podrá autorizar mediante poder perfectamente conferido a terceros, a su representante legal o a sus causahabientes, según sea el caso y entiende que éstos podrán ser solicitados por autoridades administrativas y/o judiciales.
6.	Solicitar la exclusión de su información personal de registros o bases de datos.
7.	Revocar la autorización y/o solicitar la supresión del dato, a menos que haya un derecho contractual de por medio, o que previamente dicha información haya salido de las manos de LOBI CAR S.A.S , bajo las condiciones contractuales, administrativas o judiciales requeridas

    `,
  },
  {
    title: "VII. Deberes de LOBI CAR S.A.S.",
    content: `
 En desarrollo de esta política sobre el manejo de información LOBI CAR S.A.S , asume los siguientes deberes:
1.	Solicitar autorización al titular de la información para el tratamiento de sus datos.
2.	Conservar la autorización de tratamiento de datos otorgada por el titular, para ser consultada posteriormente.
3.	Atender las consultas y reclamaciones interpuestas por los titulares de la información de conformidad con los procedimientos y tiempos de respuesta  establecidos en la normatividad colombiana.
4.	Obtener autorización del titular, cuando se requiera suministrar a un tercero, los datos personales en custodia, a menos que sean requeridos por una autoridad administrativa o judicial.
5.	Adoptar las medidas de seguridad necesarias para evitar adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento de los datos personales.
6.	Aplicar esta política sobre protección de datos personales en armonía con la Política de Seguridad de la Información.
7.	Regular en los contratos con terceros el acceso a los ficheros que contengan datos de carácter personal.
8.	Al momento de la recolección de datos, informar al titular de los datos la finalidad para la cual se requiere esa información.

    `,
  },
  {
    title: "VIII. Cesión o comunicación de datos personales",
    content:
      "Queda prohibida la transferencia de datos personales sin el consentimiento previo, escrito y expreso del titular del respectivo dato, salvo las excepciones de ley. La cesión o comunicación de datos personales deberá ser inscrita en el registro central de datos personales de LOBI CAR S.A.S , y contar con la autorización del propietario de los datos. El incumplimiento de estas prohibiciones por parte de empleados de LOBI CAR S.A.S , será considerado como falta grave, que podrá dar lugar a la terminación de la relación laboral con justa causa, en los términos del Reglamento Interno de Trabajo. Lo anterior, sin perjuicio de las acciones legales a que haya lugar.",
  },
  {
    title:
      "IX. Procedimientos de acceso, consulta, rectificación y actualización de la información",
    content: `
      Los titulares de la información  tienen derecho a acceder a sus datos personales y a los detalles del tratamiento de los mismos, así como a rectificarlos actualizarlos  en caso de ser inexactos o  a solicitar su eliminación cuando considere que resulten ser excesivos o innecesarios para las finalidades que justificaron su  obtención u oponerse al tratamiento de los mismos para fines específicos frente al DEPARTAMENTO DE PROTECCIÓN DE DATOS PERSONALES.

Los mecanismos que se han implementado para el ejercicio de dichos derechos, a través de la presentación de la solicitud respectiva al DEPARTAMENTO DE PROTECCIÓN DE DATOS PERSONALES son:

●	DEPARTAMENTO DE PROTECCIÓN DE DATOS PERSONALES, al correo info@gogoapp.co 
●	Nuestros establecimientos de servicio o centros de atención a clientes disponibles en los teléfonos 321-3710614.
●	Correo electrónico info@gogoapp.co  

Los mecanismos referidos podrán ser utilizados por los titulares o terceros con autorización legal para actuar en su nombre con los siguientes propósitos:

I. DERECHO DE ACCESO: El  titular de la información podrá consultar de forma gratuita sus datos personales  al menos una vez cada mes calendario. Para conocer los datos personales que son objeto de tratamiento por parte de LOBI CAR S.A.S , usted podrá   elevar  una  solicitud  indicando la información que desea conocer, a través de una solicitud a través de los mecanismos descritos en este numeral.

La petición será atendida por parte del DEPARTAMENTO DE PROTECCIÓN DE DATOS PERSONALES en un término máximo de diez (10) días hábiles contados a partir de la fecha de recibo de la misma. Cuando no fuere posible atender la petición dentro de dicho término, se informará al interesado, expresando los motivos de la demora y señalando la fecha en que se atenderá su consulta, la cual en ningún caso podrá superar los cinco (5) días hábiles siguientes al vencimiento del primer término.
 
II. RECLAMOS. De conformidad con lo establecido  en el artículo 14 de la Ley 1581 de 2012,  el Titular o sus causahabientes que consideren que la información contenida en una base de datos debe ser objeto de corrección, actualización o supresión y/o revocatoria de la autorización cuando adviertan el presunto incumplimiento de cualquiera de los deberes contenidos en  la Ley 1581 de 2012, podrán presentar un reclamo ante LOBI CAR S.A.S , el cual será tramitado bajo las siguientes reglas:

1.	Los derechos  de rectificación, actualización o supresión o revocatoria del consentimiento frente al DEPARTAMENTO DE PROTECCIÓN DE DATOS PERSONALES, únicamente se podrán ejercer por:
a.	El titular o sus causahabientes, previa acreditación de su identidad
b.	Su representante, previa acreditación de la representación
c.	Cuando la solicitud sea formulada por persona distinta del titular y no se acredite que la misma actúa en representación de aquél,  se tendrá por no presentada. 
2.	La solicitud de rectificación, actualización, supresión o revocatoria debe ser presentada a través del medio habilitados por LOBI CAR S.A.S en su DEPARTAMENTO DE PROTECCIÓN DE DATOS PERSONALES y contener, como mínimo,  la siguiente información:
a.	El nombre y domicilio del titular o cualquier otro medio para recibir la respuesta.
b.	Los documentos que acrediten la identidad o la personalidad de su representante.
c.	La descripción clara y precisa de los datos personales respecto de los cuales el titular busca ejercer alguno de los derechos.
d.	En caso dado otros elementos o documentos que faciliten la localización de los datos personales.

El término máximo para atender el reclamo será de quince (15) días hábiles contados a partir del día siguiente a la fecha de su recibo. Cuando no fuere posible atender el reclamo dentro de dicho término, se informará al interesado los motivos de la demora y la fecha en que se atenderá su reclamo, la cual en ningún caso podrá superar los ocho (8) días hábiles siguientes al vencimiento del primer término.

    `,
  },
  {
    title: "X. Área responsable de la atención de peticiones",
    content:
      "El área  responsable de atender las peticiones de acceso, rectificación, actualización, supresión de datos o revocatoria del consentimiento o autorización otorgada para el tratamiento de sus datos personales, es el DEPARTAMENTO DE PROTECCIÓN DE DATOS PERSONALES, con dirección electrónica info@gogoapp.co",
  },
  {
    title: "XI. Restricciones en el uso de esta política",
    content:
      "Esta política de protección de datos personales es para uso exclusivo de LOBI CAR S.A.S por tanto, está prohibida su copia, reproducción, distribución, cesión, publicación y/o traducción, por razones de seguridad y en atención al respeto de la propiedad intelectual, como creación amparada por la legislación nacional e internacional.",
  },
  {
    title: "XII. Fecha de vigencia de las bases de datos",
    content:
      "Las información recolectada en las bases de datos tendrán una vigencia de 10 años con el fin de ser solicitadas por las autoridades judiciales o administrativas competentes. Después de transcurrido el tiempo de vigencia sobre las bases, la información será eliminada permanentemente. ",
  },
  {
    title: "XIII. Fecha de entrada en vigencia",
    content: "Esta política de protección de datos personales entra a regir a partir del 15 de marzo del 2023.",
  },
];
---

<MainLayout>
  <a
    class="fixed left-4 flex items-center gap-1 rounded-xl bg-white p-3 font-bold md:text-xl"
    href="/"
  >
    <Icon name="arrowLeftStatic" />
    Atrás</a
  >
  <div
    class="mx-auto mb-10 mt-10 max-w-5xl rounded-lg p-6 text-black dark:text-white"
  >
    <h1 class="text-center text-3xl font-bold">
      Política de Tratamiento de Datos
    </h1>
    <p class="mt-2 text-center">Última actualización: 15 de marzo de 2023</p>

    <section class="mt-6 space-y-4">
      <div class="hs-accordion-group divide-gray-200 divide-y">
        {
          sections.map((section, i) => {
            let id = `hs-accordion-heading-${i}`;
            let collapseId = `hs-accordion-collapse-${i}`;

            return (
              <div class="hs-accordion rounded-lg p-8" id={id}>
                <button
                  class="hs-accordion-toggle group flex  w-full items-center justify-between font-semibold"
                  aria-controls={collapseId}
                >
                <p class="text-start">  {section.title}</p>
                  <svg
                    class="text-g h-4 w-4 transition hs-accordion-active:hidden"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    />
                  </svg>
                  <svg
                    class="hidden h-4 w-4 transition  hs-accordion-active:block"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 15l7-7 7 7"
                    />
                  </svg>
                </button>
                <div
                  id={collapseId}
                  class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 ease-in-out"
                >
                  <p class="text-gray-700 whitespace-pre-line px-5 py-3">
                    {section.content}
                  </p>
                </div>
              </div>
            );
          })
        }
      </div>
    </section>
  </div>
</MainLayout>

<!-- Importar Preline UI para la animación del acordeón -->
<script is:inline src="/scripts/vendor/preline/accordion/index.js"></script>
